@import 'default.css';

canvas {
    border: 1px solid black;
}

.supervisorio {
    position: relative;
    width: 47.6vw; /* Ajuste conforme a largura da imagem */
    height: 38.4vh; /* Ajuste conforme a altura da imagem */
}

.img-portico {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1; /* Garante que a imagem esteja atrás do canvas */
}

.figure-container {
    position: relative; /* Garante que a figura seja usada como referência para o posicionamento do canvas */
    width: 100%; /* Faz com que a figura ocupe 100% da largura disponível */
    height: 100%; /* Ou qualquer outra altura desejada */
}

.figure-container canvas {
    position: absolute; /* Permite posicionar o canvas dentro da figura */
    top: 0;
    left: 0;
    width: 100%; /* Faz com que o canvas ocupe 100% da largura da figura */
    height: 100%;
}

#myCanvas {
    position: absolute;
    top: 24px;
    left: 0;
    z-index: 2; /* Garante que o canvas esteja acima da imagem */
}

.elemento-interativo {
    cursor: pointer;
}

table{
    font-size: 1.4rem;
    display: flex;
    text-align: center;
}

td, th{
    padding-right: 3vw;
}

.botao-modal{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.modal, .modal2 {
    display: none;
    position: fixed;
    z-index: 3; /* Z-index maior que o do canvas */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fefefe;
    color: #000;
    font-size: 2rem;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

.modal2 h1{
    margin-bottom: 3vh;
}

.close, .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.add-manutencao{
    color: var(--background-aside);
    background-color: var(--color-bottoms);
    padding: 6px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-manutencao:hover {
    background-color: var(--text-white);
    border: 1px solid var(--color-bottoms);
    color: #0572bb;
    font-weight: bold;
}
