@import 'default.css';

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: var(--text-grey);
}

body{
    display: grid;
    grid-template-areas: 
        "aside header"
        "aside main";
        grid-template-columns: auto auto auto;
        grid-template-rows: auto 100vh auto;
}

.o-header {
    grid-area: header;
    }
    
    .o-aside {
    grid-area: aside;
    height: 100vh;
    width: 15vw;
    background-color: var(--background-aside);
    display: flex;
    flex-direction: column;
    }
    
    .o-main {
    grid-area: main;
    }

/* MENU ASIDE */

.o-aside a{
    font-size: 2rem;
}

.logo-aside{
    width: 14vw;
}

.img-logo{
    width: 100%;
    height: 100%;
    padding: 2.5vh 0.57vw;
}

.edit-link{
    margin-top: 5.37vh;
}

.top-links{
    display: flex;
    flex-direction: column;
    padding: 7.12vh 1.87vw;
}

.bottom-links{
    padding: 0 7.12vh 0 1.87vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 54px;
}

.o-aside .top-links li:first-child a {
    color: var(--color-bottoms);
    font-weight: bold;
}

/* CABECALHO */

.cabecalho{
    background-color: var(--backgroung-boxes);
    color: var(--text-white);
    display: flex;
    padding: 6px;
    justify-content: space-between;
    align-items: center;
}

.search-container{
    width: 692px;
    padding: 5px;
    background-color: #E2E2E2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: var(--background-page);
}

.icon-pesquisa{
    padding: 0 12px;
}

.input-pesquisa{
    color: var(--background-page);
    border: none;
    background: none;
    box-shadow: none;
    width: 33vw;
    height: 3.2vh;
}

.infos-perfil{
    display: flex;
    align-items: center;
}

.icon-perfil{
    font-size: 4.8rem;
}

.data-atualizada{
    font-size: 2.4rem;
    font-weight: bold;
}

.nome-func{
    font-size: 1.4rem;
    font-weight: 500;
}

.cargo{
    font-weight: 300;
}

/* MAIN */

main{
    color: var(--text-white);
}

main h1{
    font-size: 2rem;
}

/* PORTICO */

.portico{
    background-color: var(--backgroung-boxes);
    width: 49vw;
    height: 60vh;
    margin: 16px 30px;
    padding: 16px 19px;
    border-radius: 30px;
}

.titulo-portico{
    padding: 24px;
}

.veic{
    display: flex;
    font-size: 1.4rem;
}

.veic li{
    padding-left: 36px;
}

/* ULTIMOS VEICULOS */

.ultimos-veiculos{
    padding: 24px;
}

.infos-veiculos{
    background-color: var(--background-page);
    padding: 20px 33px;
    border-radius: 10px;
    align-items: center;
}

/* ULTIMOS ALERTAS */

.ult-alertas{
    background-color: var(--backgroung-boxes);
    padding: 20px 33px;
    border-radius: 30px;
    margin:25px 30px;
}

.titulos-links{
    display: flex;
    justify-content: space-between;
    padding: 21px 59px;
}

.container-alertas{
    display: flex;
}

.filtro a{
    font-size: 1.2rem;
    border: 1px solid;
    padding: 6px 30px;
}

.filtro a:first-child{
    color: var(--color-bottoms);
}

.alertas{
    display: flex;
    background-color: var(--background-page);
    padding: 24px 12px;
    margin: 18px;
    border-radius: 10px;
}

.icon-fail{
    color: var(--color-hard-alert);
    font-size: 4.8rem;
}

.infos-alertas{
    font-size: 1.2rem;
    padding: 0 74px 0 22px;
}

.ver-mais{
    color: var(--background-aside);
    background-color: var(--color-bottoms);
    padding: 6px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ver-mais:hover{
    background-color: var(--background-page);
    border: 1px solid;
    color: var(--color-bottoms);
}

.icon-fail2{
    color: var(--color-midium-alert);
    font-size: 4.8rem;
}

/* CAMERAS */

.cameras{
    background-color: var(--backgroung-boxes);
    padding: 21px 33px;
    border-radius: 30px;
    margin: 24px 33px;
}

.filtro a{
    font-size: 1.2rem;
}

.painel-camera{
    display: flex;
}

.painel-camera p{
    font-size: 1.2rem;
}

.box-cameras{
    padding: 11px;
}

.infos-camera{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    margin-right: 10px;
}

.status-camera{
    color: var(--color-status);
}

.falha{
    color: var(--color-hard-alert);
}

/* EQUIPAMENTOS */

.equipamentos{
    background-color: var(--backgroung-boxes);
}

.titulo-equip{
    display: flex;
    gap: 40px;
}


.info-equip{
    display: flex;
    font-size: 1.4rem;
    padding: 10px 15px;
    gap: 60px;
}