@import 'default.css';

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: var(--text-grey);
}

body {
    display: grid;
    grid-template-areas:
        "aside header"
        "aside main";
    grid-template-columns: 15vw auto;
    grid-template-rows: auto auto;
}

.o-header {
    grid-area: header;
}

.o-aside {
    grid-area: aside;
    height: 100vh;
    width: 15vw;
    background-color: var(--background-aside);
    display: flex;
    flex-direction: column;
}

.o-main {
    grid-area: main;
    display: flex;
}

/* MENU ASIDE */

.o-aside a {
    font-size: 2rem;
}

.logo-aside {
    width: 14vw;
}

.img-logo {
    width: 100%;
    height: 100%;
    padding: 2.5vh 0.57vw;
}

.edit-link {
    margin-top: 5.37vh;
}

.top-links {
    display: flex;
    flex-direction: column;
    padding: 7.12vh 1.87vw;
}

.bottom-links {
    padding: 0 7.12vh 0 1.87vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 54px;
}

.o-aside .top-links li:first-child a {
    color: var(--color-bottoms);
    font-weight: bold;
}

/* CABECALHO */

.cabecalho {
    background-color: var(--backgroung-boxes);
    color: var(--text-white);
    display: flex;
    padding: 6px;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    width: 692px;
    padding: 5px;
    background-color: #E2E2E2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: var(--background-page);
}

.icon-pesquisa {
    padding: 0 12px;
}

.input-pesquisa {
    color: var(--background-page);
    background-color: transparent;
    border: none;
    outline: none;
    width: 33vw;
    height: 3.2vh;
}

.infos-perfil {
    display: flex;
    align-items: center;
}

.container-dados {
    text-align: right;
}

.icon-perfil {
    font-size: 4.8rem;
    margin-left: 1.5vw;
}

.data-atualizada {
    font-size: 2.4rem;
    font-weight: bold;
}

.nome-func {
    font-size: 1.4rem;
    font-weight: 500;
}

.cargo {
    font-weight: 300;
}

/* MAIN */

main {
    color: var(--text-white);
}

main h1 {
    font-size: 2rem;
}

.conteudo-dir {
    margin-top: 1.75vh;
}

/* PORTICO */

.portico {
    background-color: var(--backgroung-boxes);
    width: 49.7vw;
    height: 60vh;
    border-radius: 30px;
    margin: 1.48vh 1.56vw;
    padding: 1.75vh 0.83vw;
}

.titulo-portico,
.ultimos-veiculos {
    padding-left: 2.8vw;
}

.img-portico {
    width: 47.6vw;
    height: 38.4vh;
    margin: 2.5vh 0;
}

.ultimos-veiculos {
    margin-bottom: 1vh;
}

.veic {
    display: flex;
    font-size: 1.4rem;
}

.veic li {
    padding-left: 1.87vw;
}

/* ULTIMOS VEICULOS */

.infos-veiculos {
    background-color: var(--background-page);
    border-radius: 10px;
    align-items: center;
    text-align: center;
    padding: 1vh 1.70vw;
    max-height: 9vh;
    /* Adicionando uma barra de rolagem vertical quando necessário */
    overflow-y: auto;
    margin-top: 0.1vh;

}

/* ULTIMOS ALERTAS */

.ult-alertas {
    background-color: var(--backgroung-boxes);
    width: 49.68vw;
    height: 28vh;
    border-radius: 30px;
    margin: 1.48vh 1.56vw;
    padding: 1.75vh 0.83vw;
}

.titulos-links {
    display: flex;
    justify-content: space-between;
    padding: 21px 59px;
}

.container-alertas {
    display: flex;
    flex-wrap: wrap;
}

.filtro a {
    font-size: 1.2rem;
    border: 1px solid;
    padding: 0.55vh 0.52vw;
}

.filtro a:first-child {
    color: var(--color-bottoms);
}

.alertas {
    display: flex;
    background-color: var(--background-page);
    border-radius: 10px;
    padding: 1.20vh 1.09vw;
    margin: 0.83vh 0.36vw;
    align-items: center;
}

.icon-fail {
    color: var(--color-hard-alert);
    font-size: 4.8rem;
}

.infos-alertas {
    font-size: 1.2rem;
    padding: 0 74px 0 22px;
}

.ver-mais {
    color: var(--background-aside);
    background-color: var(--color-bottoms);
    padding: 6px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.ver-mais:hover {
    background-color: var(--background-page);
    border-color: var(--color-bottoms);
    color: var(--color-bottoms);
}


.icon-fail2 {
    color: var(--color-midium-alert);
    font-size: 4.8rem;
}

/* CAMERAS */

.cameras {
    background-color: var(--backgroung-boxes);
    width: 31.40vw;
    height: 60.09vh;
    padding: .8vh 1.71vw;
    border-radius: 30px;
}

.filtro a {
    font-size: 1.2rem;
}

.painel-camera {
    display: flex;
    flex-wrap: wrap;
}

.painel-camera p {
    font-size: 1.2rem;
}

.box-cameras {
    padding: 0.21vw;
}

.infos-camera {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    margin-right: 10px;
}

.status-camera {
    color: var(--color-status);
}

.falha {
    color: var(--color-hard-alert);
}

.config-img {
    width: 13.5vw;
    height: 20.5vh;
}

.el-img {
    width: 100%;
    height: 100%;
}

/* EQUIPAMENTOS */

.equipamentos {
    background-color: var(--backgroung-boxes);
    width: 31.4vw;
    height: 28vh;
    border-radius: 30px;
    padding: 2.40vh 1.66vw;
    margin-top: 1.48vh;
   
    display: flex; /* Define o layout flexível */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
 

}

.titulo-equip {
    display: flex;
    gap: 40px;
}


.info-equip {
   
}

.supervisorio {
    display: flex;
    margin-bottom: 4vh;
}


.tabela-veiculos th,
.tabela-veiculos td {
  padding-right: 4vw;

}

.tabela-equipamentos {
    border-collapse: collapse; 
    width: 100%; 
    text-align: left;
    margin-left: 1vw;
   
}

.ultimo{

    text-align: center;
}

.maior{
    width: 40vw;
}

.menor{
    width: 5vw;
}

.info-equip a{
    font-size: 1rem;
}