/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Variáveis Globais */
:root {
    --background-page: #1C1B1F;
    --background-aside: #000;
    --background-boxes: #313131;
    --color-bottoms: #58C4F1;
    --color-hard-alert: #C52D1D;
    --color-medium-alert: #CA8534;
    --color-status: #adca34;
    --text-grey: #A4A4A4;
    --text-white: #fff;
}

/* Configurações Gerais */
html {
    font-size: 62.5%;
    color: var(--text-grey);
}

body {
    background-color: var(--background-page);
    display: grid;
    grid-template-areas:
        "aside header"
        "aside main"
        "aside";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
    justify-content: start;
    align-content: space-around;
    align-items: start;
}

/* Responsividade */
@media (max-width: 1920px) and (max-height: 1080px) {
    body {
        grid-template-areas:
            "header"
            "main"
            "aside";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
}

@media (max-width: 287px) and (max-height: 1080px) {
    .header, .aside {
        width: 100%;
    }
}

/* Listas */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Links */
a {
    text-decoration: none;
    color: var(--text-grey);
}

/* HEADER */
.cabecalho {
    background-color: var(--background-boxes);
    color: var(--text-white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  @media (max-width: 1920px) and (max-height: 79px) {
    
  }

/* Menu */
