@import 'default.css';

.pagina {
    display: flex;
}

.container-esq{
    width: 73vw;
    height: 99vh;
}

.imgbackground{
    width: 100%;
    height: 100%;
}

.container-dir{
    width: 27vw;
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-logo{
    display: flex;
    justify-content: center;
    width: 23vw;
}

.img-logo{
    width: 100%;
}

.titulo-login{
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.login{
    display: flex;
    flex-direction: column;
    width: 23vw;
}

.input{
    display: flex;
    align-items: center;
    border: 1px solid var(--text-grey);
    margin-bottom: 1vh;
    border-radius: 5px;
    width: 100%;
}

.icone-matricula, .icone-senha, .icone-auth{
    background-color: var(--color-bottoms);
    padding: 11px 12px;
    color: var(--text-white);
}

.text-input{
    font-size: 1.4rem;
    margin-left: 14px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-white);
    width: 100%;
}

.text-lost{
    font-size: 1.4rem;
}

a{
    text-decoration: none;
    color: var(--text-grey);
}

.link-login{
    text-decoration: underline;
}

.botao-login{
    width: 23vw;
}

.botao-entrar{
    width: 100%;
    padding: 2vh 0;
    color: var(--text-white);
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--color-bottoms);
    border: 1px solid transparent;
    cursor: pointer;
}

.botao-entrar:hover{
    background-color: var(--background-page);
    border: 1px solid;
    color: var(--color-bottoms);
}

ul{
    list-style: none;
}

ul li:not(:last-child)::after {
    content: " | "; 
    margin: 0 5px;
}

.links-rodape{
    font-size: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}